.card {
  width: 250px;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 11px 16px 34px 6px rgba(34, 60, 80, 0.23);
  overflow: hidden;
}

.card:last-child {
  align-self: center;
}

.wallpaper {
  width: 100%;
  height: 100px;
}

.info {
  position: relative;
  padding: 60px 10px 10px 10px;
  height: 180px;
}

.user-img {
  position: absolute;
  top: -50px;
  left: 10px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.user-name {
  color: brown;
  margin-bottom: 20px;
}

.user-id {
  color: grey;
}

.user-info {
  color: rgb(85, 46, 19);
}
